@use "../../assets/style/mixins.scss";
@use "../../assets/style/variables.scss" as vars;

.filter {
  &_wrapper {
    color: vars.$gray-text-color;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    min-height: 200px;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: -2px 9px 15px 0px rgb(222, 225, 241);
  }

  &_currency {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-button {
      margin-right: 10px;
      padding: 10px 12px;
      border: 1px solid #a6abaf7d;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;

      &.active {
        background-color: #3498db;
        color: #fff;
        border: 1px solid #4a7ae3f5;
      }

      &:hover {
        background-color: #9bd7ff;
        color: #fff;
        border: 1px solid #a6abaf7d;
      }
    }
  }

  &_transfers {
    @include mixins.flex-container(flex-start, flex-start, column);
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
			cursor: pointer;
      input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #3498db;
        border-radius: 3px;
        position: relative;
        cursor: pointer;

        &:checked {
          background-color: #ffffff;
          border: 2px solid #3498db;

          &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 5px;
            width: 4px;
            height: 8px;
            border: solid #3498db;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}