@use '../../../assets/style/mixins.scss';
.buy-ticket{
	&_wrapper{
			@include mixins.flex-container(center, flex-start, row);
			gap: 20px;
			margin-top: 50px;
	}
	&_tickets{
			@include mixins.flex-container(center, center, column);
			gap: 20px;
	}
}